:root {
    --light-blue: hsla(199, 64%, 73%, 1);
    --light-blue-300: hsla(199, 64%, 83%, 1);
    --blue: hsla(192, 70%, 43%, 1);
    --dark-blue: hsla(200, 95%, 14%, 1);
    --dark-blue-300: hsla(200, 95%, 24%, 1);
    --yellow: hsla(43, 100%, 51%, 1);
    --orange: hsla(32, 100%, 49%, 1);
    --black: hsl(0, 0%, 14%);
    --light-gray: hsl(0, 0%, 90%);
}

@font-face {
    font-family: digitalmono;
    src: url("./Assets/digital-7.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: var(--black);
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "side header"
        "side main";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: max(200px, 20vh) 1fr;
    height: 100vh;
}

.scrambleDisplay {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background-color: var(--light-blue);
    border-bottom: 4px solid var(--dark-blue);
    box-shadow: 5px 0 10px var(--black);
    text-align: center;
    padding: 10px 0;
}

.sidebar {
    grid-area: side;
    background-color: var(--dark-blue);
    border-right: 4px solid var(--blue);
    box-shadow: 0 4px 8px var(--black);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar>.solves {
    width: calc(100% - 1rem);
    max-height: 90vh;
    border-collapse: collapse;
}

.solves,
.solves :where(th, td) {
    border: 3px solid var(--light-blue);
    text-align: center;
    background-color: var(--dark-blue);
    cursor: pointer;
}

tr:hover td {
    background-color: var(--dark-blue-300);
}

.timer {
    grid-area: main;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    justify-content: flex-start;
    place-items: center;
    gap: 10%;
    font-size: 3rem;
    font-family: digitalmono, monospace;
    background-color: var(--light-gray);
    padding-top: 30px;
}

.time {
    font-size: 5rem;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: brightness(0.8);
    z-index: 1;
}

.score-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 40%;
    height: 40vh;
    background-color: var(--light-blue-300);
    border-radius: 25px;
    border: 2px solid var(--dark-blue);
    padding: 20px;
    z-index: 2;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
}

.modal-header>button {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 2rem;
}


.score-modal .data {
    text-align: start;
    margin-top: 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.score-modal .data>div {
    border: 1px solid var(--light-blue);
}

.score-modal select {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.75rem;
}

.btn-delete {
    margin-top: 30px;
    font-size: 2rem;
    background-color: hsl(0, 100%, 35%);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #00000050;
}

.btn-delete:hover {
    filter: brightness(1.2);
}

.btn-delete:active {
    scale: 0.95;
}

.show {
    display: block;
}